html{
    font-size: 10px;
}

body{
    font-family: Tahoma;
}

h2{
    font-size: 3rem;
    font-weight: normal;
    text-decoration: line-through;
}

p{
    font-size: 1.5rem; 
    line-height: 1.6rem;
    text-align: left;
}

a{
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}