*{
    box-sizing: border-box;
}

body{
    background-color: #f2f2f2;
    font-family: Helvetica;
}

.container{
    width: 90%;
    /* border: 1px solid red; */
    margin: auto;
}

.container h1{
    text-align: center;
    font-size: 32px;
}

.users-list{
    background-color: #fff;
    border: solid 1px #d1d1d1;
    padding: 10px;
}

.user-data{
    width: 70%;
    margin: auto;
}

.user-data img {
    width: 100%;
    border-radius: 50%;
}

.user-data h3{
    text-align: center;
}

.btn-other-user{
    background-color: rgb(44, 141, 22);
    color: #ffffff;
    border: none;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 10px;
    margin: auto;
    display: block;
}

@media(min-width: 768px) {
    .users-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }   
    
    .user-data{
        width: 48%;
        margin: 0px;
    }
}

@media(min-width: 1200px){
    .users-list{
        max-width: 700px;
        margin: auto;
    }

    .user-data{
        width: 33%;
        margin: 0px;
        text-align: center;
    }

    .user-data img{
        width: 80%;
    }

    .btn-other-user{
        margin-top: 30px;
    }
}